<h2>Por Capital</h2>
<hr>
<!-- (searchByCapitalSearchBox) = "searchByCapital($event)"   -->
<div class="row">
    <div class="col">
        <app-search-box 
            placeholder="Buscar por capital. . ."            
            (onDebounce)="searchByCapital($event)"       
            ></app-search-box>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
        <app-loading-component *ngIf="isLoading "></app-loading-component>
        <app-countries-table [countriesTable]="countries"></app-countries-table>
    </div>
</div>